$color-primary:  rgba(72, 86, 240, 0.7); 
$color-primary-light:  rgba(234, 86, 245, 0.5); 

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #F8F8F8;

$color-violet: mediumvioletred;
$color-element: #483D8B; 